<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.16.3.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Minimod.CsvHelperMvcActionResult" version="0.9.0" targetFramework="net45" />
  <package id="MVC.ResumingActionResults" version="1.0.5181.42826" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="System.Web.Mvc.Extensions" version="1.1.1.2" targetFramework="net45" />
</packages>